<div class="container">
  <div class="user-details">
    <h3> What We Do </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Design</h4>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Using today's most advanced and efficient software we are able to generate beautiful and elegant software and designs. Together as a group, we aspire to create applications from scratch while keeping simplicity and elegancy.</p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>When most people think simplicity they think visual design, but when it comes to us we think code. We use the most optimal language and structure for each module we write keeping a quick and simple base.</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Using Git for code sharing and many other utilities that offer collaborative design, we are able to quickly switch our focuses and help eachother out in times where it is benefitial.</p>
    </div>
  </div>
</div>
